<app-navbar></app-navbar>
<main>
    <section class="formSection py-5">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
            <div>
                <h3 class="text-center">{{action}} Result</h3>
            </div>
            <div *ngIf="alert" class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Oops! </strong>Record for this roll no. already exists!
                <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="mb-3">
                <label for="rollNo" class="form-label">Roll No</label>
                <input type="number" class="form-control" id="rollNo" name="rollNo" formControlName="rollNo"
                min=1 max=10000 aria-describedby="rollNo">
                <span style="color:red;" *ngIf="rollVal && rollVal.invalid && rollVal.touched">Please Enter a valid Roll Number</span>
            </div>
            <div class="mb-3">
                <label for="studentName" class="form-label">Name</label>
                <input type="text" class="form-control" id="studentName" name="studentName"
                    formControlName="studentName">
                <span style="color:red;" *ngIf="nameVal && nameVal.invalid && nameVal.touched">Please Enter a valid Name</span>
            </div>
            <div class="mb-3">
                <label for="dateOfBirth" class="form-label">Date of Birth</label>
                <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth"
                    formControlName="dateOfBirth" min="1995-01-01" max="2018-12-31">
                <span style="color:red;" *ngIf="dobVal && dobVal.invalid && dobVal.touched">Please Enter a valid D.O.B</span>
            </div>
            <div class="mb-3">
                <label for="score" class="form-label">Score</label>
                <input type="number" class="form-control" id="score" name="score" formControlName="score"
                min=1 max=100>
                <span style="color:red;" *ngIf="scoreVal && scoreVal.invalid && scoreVal.touched">Please Enter a valid Score</span>
            </div>
            <div class="d-flex justify-content-center">
                <button [disabled]="myForm.invalid" type="submit"
                    class="btn btn-success py-2 px-5 fw-medium d-flex justify-content-center align-items-center">Save</button>
            </div>
        </form>
    </section>
</main>